name: Docker Image CI

on:
  push:
    branches:
      - feature/mod-support
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  pull_request:
    branches:
      - feature/mod-support

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Extract version_tag
        id: version_tag
        uses: cyrale/github-actions/docker-tag@main
        with:
          tag_replace_pattern: "v"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            mismatch/project-zomboid:mod-support-${{ steps.version_tag.outputs.tag }}
            mismatch/project-zomboid:mod-support-latest
            ghcr.io/crc-mismatch/project-zomboid:mod-support-${{ steps.version_tag.outputs.tag }}
            ghcr.io/crc-mismatch/project-zomboid:mod-support-latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
